/*
** Grid
*/

$unit: 4px;

/*
** Fonts
*/

$base-font: 'Roboto', sans-serif;


/*
** Colors
*/

$white: #fff;
$black: #000;

$primary-color: #35694f;
$primary-hover-color: #55a37c;
$primary-pressed-color: #0a2819;

$secondary-color: #f7fdfa;


/*
** Shadow
*/
$box-shadow-black: 0 4px 4px rgba($black, .24);
